.navbar-inverse {
    background-color: #37455f;
    border-color: #37455f;
}
	.navbar-inverse .navbar-nav > li > a {
	    color: #ffffff;
	}
header.header {
	display: none;
}
header.header.logged {
	display: block;
}
    ul.header {
    	padding-right: 10px;
    }

.login {
	width: 400px;
    margin: 5% auto 0 auto;
    font-family: 'Oswald', sans-serif;
}

form.login-form {
	border: 1px solid gray;
}
    form.login-form input,
    form.login-form button {
	    font-family: 'Open Sans', sans-serif;
	    border-radius: 0;
    }

    .login-form .header-content {
    	padding: 15px 20px;
    }
        .header-content h1 {
        	text-align: center;
        }
    .login-form .body-content {
	    padding: 15px 20px;
	    position: relative;
	}

.input-icon {
    position: relative;
}
    .input-icon.right i {
        right: 8px;
        float: right;
    }

	.input-icon i {
	    color: #999999;
	    display: block;
	    position: absolute;
	    margin: 10px 2px 4px 10px;
	    width: 16px;
	    height: 16px;
	    font-size: 16px;
	    text-align: center;
	}

	.input-icon.right input {
	    padding-left: 12px;
	    padding-right: 33px;
	}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.page-content.logged {
	margin-top: 50px;
	padding-top: 10px;
}

.page-sidebar 
{
    background-color: #445675;
    margin-top: 50px;
}
.page-sidebar.navbar-collapse 
{
    padding: 0;
}
.page-sidebar.navbar-collapse.collapse
{
    display: none !important;
}
.page-sidebar.navbar-collapse.collapse.ng-scope.logged
{
    display: block !important;
}
.page-sidebar-menu 
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}
    .page-sidebar-menu > li 
    {
        display: block;
        margin: 0;
        padding: 0;
        border: 0px;
    }
        ul.page-sidebar-menu > li > a {
            border-bottom: 1px solid #37455f !important;
            display: block;
            position: relative;
            margin: 0;
            border: 0;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 14px;
            trasition: 0.3s;
        }
        ul.page-sidebar-menu > li.open > a, 
        ul.page-sidebar-menu > li > a:hover, 
        ul.page-sidebar-menu > li:hover > a 
        {
            background: #dc6767;
            color: #ffffff;
        }

@media (min-width: 768px) {
    .page-sidebar 
    {
        width: 225px;
        position: fixed;
        top: 0;
    }
    .page-sidebar.navbar-collapse.collapse
    {
        height: 8000px !important;
    }
    .page-content.logged
    {
        margin-left: 225px;
    }
}
.white-letter
{
    color: #ffffff;
}