.btn-group-xs > .btn,
.btn-xs,
.btn {
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px;
}
    .modal-title {
        font-family: 'Open Sans', sans-serif;
    }

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #37455f;
    border-color: #37455f;
}
	.navbar-inverse .navbar-nav > li > a {
	    color: #ffffff;
	}
header {
	display: none;
}
header.logged {
	display: block;
}
    ul.header {
    	padding-right: 10px;
    }
    .navbar-brand img {
        margin: 0 auto;
    }
    a.white-letter {
        cursor: pointer;
    }
    .navbar-brand {
        padding: 0;
    }
    .navbar-brand img {
        height: 100%;
    }
    button.navbar-toggle span.icon-bar {
        background-color: #ffffff !important;
    }
    button.navbar-toggle:hover {
        background-color: #ffffff !important;
    }
    button.navbar-toggle:hover span.icon-bar {
        background-color: #37455f !important;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
        color: #ffffff;
        background-color: #445675;
    }

.login {
	width: 400px;
    margin: 5% auto 0 auto;
    font-family: 'Oswald', sans-serif;
}
form input,
form button,
form textarea {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0 !important;
}
form label {
    font-family: 'Open Sans', sans-serif;
    color: #111;
    font-weight: normal;
}

form.login-form {
	border: 1px solid gray;
}
    .login-form .header-content {
    	padding: 15px 20px;
    }
        .header-content h1 {
        	text-align: center;
        }
    .login-form .body-content {
	    padding: 15px 20px;
	    position: relative;
	}

.input-icon {
    position: relative;
}
    .input-icon.right i {
        right: 8px;
        float: right;
    }

	.input-icon i {
	    color: #999999;
	    display: block;
	    position: absolute;
	    margin: 10px 2px 4px 10px;
	    width: 16px;
	    height: 16px;
	    font-size: 16px;
	    text-align: center;
	}

	.input-icon.right input {
	    padding-left: 12px;
	    padding-right: 33px;
	}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.page-content.logged {
	padding:10px 10px;
}

.page-sidebar 
{
    background-color: #445675;
    margin-top: 50px;
}
.page-sidebar.navbar-collapse 
{
    padding: 0;
}
.page-sidebar.navbar-collapse.collapse
{
    display: none !important;
}
.page-sidebar.navbar-collapse.collapse.ng-scope.logged
{
    display: block !important;
}
.page-sidebar-menu 
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}
    .page-sidebar-menu > li 
    {
        display: block;
        margin: 0;
        padding: 0;
        border: 0px;
    }
        ul.page-sidebar-menu > li > a {
            border-bottom: 1px solid #37455f !important;
            display: block;
            position: relative;
            margin: 0;
            border: 0;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 14px;
            trasition: 0.3s;
            font-family: 'Oswald', sans-serif;
        }
        ul.page-sidebar-menu > li.open > a, 
        ul.page-sidebar-menu > li > a:hover, 
        ul.page-sidebar-menu > li:hover > a 
        {
            background: #dc6767;
            color: #ffffff;
        }
    .title-section div h2 {
        background-color: #f0f2f5;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 5px 15px;
    }
    .chart-best.ng-hide-add.ng-hide-add-active,
    .chart-best.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s;
    }
    .chart-best.ng-hide {
        opacity: 0;
    }
    .chart-best > div.active {
        box-shadow: #5bc0de 1px 1px 38px;
    }
    .chart-best > div > .chart-header {
        min-height: 50px;
    }
        .chart-best > div > .chart-header > h3 {
            margin: 12px 0px;
            color: white;
            font-family: 'Open Sans', sans-serif;
        }
        .chart-best > div > .chart-header > .btn-group {
            margin: 13px 0px;
        }
    .chart-best > div > .chart-content {
        margin: 0 2px;
        padding: 10px 0px 5px 0px;
        font-family: 'Open Sans', sans-serif;
    }
    .chart-best > div.background-green > .chart-content {
        border-bottom: 2px solid #488c6c;
    }
    .chart-best > div.background-blue > .chart-content {
        border-bottom: 2px solid #488c6c;
    }
    .chart-best > div.background-orange > .chart-content {
        border-bottom: 2px solid #f2994b;
    }
    .chart-best > div.background-purple > .chart-content {
        border-bottom: 2px solid #bf3773;
    }
footer .container {
    display: none;
    text-align: center;
}
footer .container.logged {
    display: block;
    margin-left: 225px;
    padding: 5px 0 5px 32%;
    background-color: #f0f2f5;
    margin-bottom: 10px;
    text-align: left;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
    .navbar-brand {
        width: 225px;
        padding: 0;
    }
        .navbar-brand img {
            height: 100%;
        }
    .page-sidebar 
    {
        width: 225px;
        position: fixed;
        top: 0;
    }
    .page-sidebar.navbar-collapse.collapse
    {
        height: 8000px !important;
    }
    .page-content.logged
    {
        margin-left: 225px;
        margin-top: 50px;
    }
    .chart-best {
        margin-bottom: 10px;
    }
}
.white-letter
{
    color: #ffffff !important;
}
.gray-letter {
    color: #777 !important;
}
.align-center {
    text-align: center;
}
.background-green {
    background-color: #488c6c;
}
.background-blue {
    background-color: #0a819c;
}
.background-orange {
    background-color: #f2994b;
}
.background-purple {
    background-color: #bf3773;
}
.background-white {
    background-color: #ffffff;
}