<ul class="page-sidebar-menu" ng-controller="SidebarController">
	<li>
		<a ng-click="open('showTotalSalesman')" class="white-letter">
			<i class="fa fa-calendar-o"></i>
			<span class="title">Total per Salesman</span>
		</a>
	</li>
	<li>
		<a ng-click="open('showTotalSalesPerMonth')" class="white-letter">
			<i class="fa fa-calendar-o"></i>
			<span class="title">Total Sales per Month</span>
		</a>
	</li>
	<li>
		<a ng-click="open('showTopSalesOrders')" class="white-letter">
			<i class="fa fa-calendar-o"></i>
			<span class="title">Top 5 Sales Orders</span>
		</a>
	</li>
	<li>
		<a ng-click="open('showTopSalesmen')" class="white-letter">
			<i class="fa fa-calendar-o"></i>
			<span class="title">Top 5 Salesmen</span>
		</a>
	</li>
</ul>